.login-img {
  height: 100vh;
  background-size: cover;

  width: 50vw;
}

.login-page {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 18px;
}

.button {
  background: rgba(2, 132, 199, 1);
  color: #ffffff;

  border: solid lightblue 3px;
}

.field-input {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
}

.button-field {
}

.input {
  margin-top: 7px;
  border-radius: 12px;
  padding-left: 13px;
  height: 3vw;

  border: solid grey;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: stretch;
}

.butt {
}
.errr{
  color: rgba(239, 68, 68, 1);

}

@media (max-width: 767px) {
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  .login-img {
    border-radius: 70%;
    height: 27vh;
  }
  .field-input {
    width: 60vw;
    display: flex;
    flex-direction: column;
  }

  .input {
    height: 5vh;
  }

  .login-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo {
    font-size: 8px;

    height: 5vh;
  }
}
